@media(min-width:1200px){

h1{
    color:white;
}
#img{
    width: 500px;
    height: 100px;
    position: relative;
    top: 60px;
    border-radius: 70px;
}

#div1 {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('./b.jpg');
    background-size: cover;
}
#div2{
    width: 500px;
    height: 500px;
    border: 2px solid black;

    position: absolute;
    left: 700px;
    top: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('./b.jpg');
    background-size: cover;
}
#h1a{
    color: black;
}
#title{
    color: aquamarine;
    font-size: 60px;
}
#del{
    background-color: black;
    color: white;
    position: relative;
    right: 260px;
    top: -50px;
}
a{
    text-decoration: none;
    color: white;
}
#m{
    font-size:20px;
    position: absolute;
top: 350px;
    left: 120px;
    color: red;
}

#show{
    position: relative;
  
top: -0px;
     border-radius: 150px;
    width: 25px;
    height: 25px;
    background-color: red;
 
}
#show:hover{
    background-color: white;
}



.inpt{
    width: 200px;
    height: 40px;
}
#buttonLogin{
    width: 200px;
    height: 40px;
    background-color: black;
    color: wheat;
}

body{
    background-image: url('bb.jpg');
    background-size: cover;
    
}

#buttonSignUp{
    width: 200px;
    height: 40px;
    background-color: black;
    color: wheat; 
}

.button{
width: 150px;
height: 100px;
margin: 30px;
border-radius: 50xpx;
background-color: rgb(7, 239, 7);
color:black ;
border-radius: 40px;
font-size: 30px;


}
#button2{
width: 150px;
height: 100px;
margin: 30px;
background-color: rgb(7, 239, 7);
color:black ;
font-size: 30px;
position: relative;
top: -18px;
border-radius: 40px;
}

.button:hover{
    background-color: wheat;
}
#button2:hover{
    background-color: wheat;
}
.inpt1{
    width: 200px;
    height: 50px;
    position: relative;
    top: 100px;

}

#button1{
    width: 200px;
    height: 50px;
    position: relative;
    top: 100px;
    background-color: black;
    color: wheat;
}

#h3{
    position: relative;
    top: 20px;
}


#buttonDetail{
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background-color: red;
}


#cancel{
    position: relative;
width: 120px;
height: 50px;
    background-color: black;
    color: white;
top: 20px;

}
table {
    border-collapse: collapse; /* מאחד את הגבולות של התאים */
    width: 500px; /* רוחב הטבלה */
    margin: auto; /* ממרכז את הטבלה בעמוד */
}

td {
    border: 3px solid skyblue; /* גבול לכל תא */
    height: 50px; /* גובה כל תא */
    text-align: left; /* יישור טקסט לשמאל */
    font-size: 30px; /* גודל פונט */
    color: red; /* צבע הפונט */
    text-align: center;
    
}
td:hover{
    background-color: white;
}
th{
    font-size: 40px;
    color:white
}
.container {
    position: relative;
    height: 100vh;
  }
  
  #cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    border: 2px solid white;
    background-color: rgb(26, 159, 128);
    border-radius: 50px;
  }
#buttonExit{
    width: 80px;
    height: 50px;
    background-color: black;
    color: white;
    position: relative;
    left: 400px;
    top: -140px;
}

h2{
    position: relative;
    top: 40px;
}
#expenses{
    position: relative;
    top: 40px;
}
#user{
    margin: 50px;
}


}

    @media(max-width:768px){
        .App{
            align-items: center;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
      
           width: 100%;
           
        }
        #button2{
            width: 150px;
            height: 100px;
            margin: 30px;
            background-color: blue;
            color: green;
            font-size: 30px;
            margin: 30px;
            }
            #button2:hover{
                background-color: black;
            }
            
        #div1{
            width: 250px;
            height: 500px;
            border: 2px solid black;
     left: 75px;
         
          
            top: 50px;
            position: relative;
            
            background-color: whitesmoke;
        }
        #div2{
            width: 250px;
            height: 500px;
            border: 2px solid black;
        
            position: relative;
          left: 75px;
            top: 50px;
            background-color: whitesmoke;
        }
        #del{
            background-color: black;
            color: white;
            position: relative;
            right: 260px;
            top: -50px;
        }
        
        
        #show{
            position: relative;
          
        top: -0px;
             border-radius: 150px;
            width: 25px;
            height: 25px;
            background-color: red;
         
        }
        
        
        
        
        .inpt{
            width: 200px;
            height: 40px;
        }
        #buttonLogin{
            width: 200px;
            height: 40px;
            background-color: black;
            color: wheat;
        }
        
        body{
            background-image: url('bb.jpg');
            background-size: cover;
           width: 100%;
            
        }
        
        #buttonSignUp{
            width: 200px;
            height: 40px;
            background-color: black;
            color: wheat; 
        }
        
        .button{
        width: 150px;
        height: 100px;
        margin: 30px;
        background-color: blue;
        color: green;
        font-size: 30px;
        margin: 30px;
        }
        
        .button:hover{
            background-color: black;
        }
        .inpt1{
            width: 200px;
            height: 50px;
            position: relative;
            top: 100px;
        
        }
        
        #button1{
            width: 200px;
            height: 50px;
            position: relative;
            top: 100px;
            background-color: black;
            color: wheat;
        }
        
        #h3{
            position: relative;
            top: 20px;
        }
        #cancel{
            position: relative;
            top: 20px; 
        }
        
        
        #buttonDetail{
            border-radius: 30px;
            width: 30px;
            height: 30px;
            background-color: red;
        }
        
         td {
        
            position: relative;
   top: -50px;
    text-align: left;
    width: 150px;
    border-collapse: collapse;
    height: 50px;
    border: 3px solid black;
    border-collapse: collapse;
    position: relative;
   color: red;
    font-size: 20px;
  
    left: 500px;     
         
         

           
        }
        #cancel{
            position: relative;
        width: 120px;
        height: 50px;
            background-color: black;
            color: white;
        top: -30px;
        
        }
        
        
      
        #expenses{
            position: relative;
            top: 40px;
        }
        #user{
            margin: 50px;
        }
        #divDetails {
            position: relative;
            right: 480px;
        }
        h1{
            position: relative;
            font-size: 20px;
        }
        #m{
        position: relative;
        right: 5px;
            font-size: 15px;  
            color: red;
        }
           
    }
    